.THIS {

    }


@media only screen and (min-device-width:320px) and (max-device-width:700px){
    .THIS .zz{
        zoom:200%;
    }

}
.THIS .title{
      background-color: rgb(11, 75, 121);
}
.THIS .customWidth{
   width: 50%;
}

.THIS .customFont{
    font-size: 19px;
    word-spacing: .5rem;
}


.THIS .customFont1{
    font-size: 19px;
    word-spacing: .5rem;
}

.THIS .marAlign{
    margin-left: .2rem;
}